/*
    Name: Lithasha Thanippuli Appuhamilage 
    Student No: 100942619
    Section: 6
    File: Assignment #4 P4
    Date: July 31th, 2024
    Description: This is the assignment #4 part 4; which is the CSS file of the sequencing annimations.
  */
body {
    background: #6c373f;
    display: flex;
    justify-content: center;
    }
  
  #alice-container {
    width: 90vh;
    display: grid;
    place-items: center;
    grid-template-areas:
      "a1 . ."
      ". a2 ."
      ". . a3";
  }
  
  #alice1 {
    grid-area: a1;
  }
  
  #alice2 {
    grid-area: a2;
  }
  
  #alice3 {
    grid-area: a3;
  }
  