/* Name: Lithasha Thanippuli Appuhamilage 
   Student No: 100942619
   Section: 6
   File: Assignment #3 P2
   Date: June 20th, 2024
   Description: This is the assignment #3 part 2; which is the CSS file of the cool box.
*/

html {
  font-family: sans-serif;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Your CSS below here */
.cool-box {
  width: 200px;
  height: 150px;
  line-height: 9;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  font-size: 1.125rem;
  background-color: red;
  color: white;
  text-shadow: 2px 2px 2px black;
  border-radius: 12px;
  border: 1px solid darkred;
  background-image: linear-gradient(to bottom right, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 30%, rgba(0, 0, 0, 0) 100%);
  box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.6),
    inset -2px -2px 3px rgba(0, 0, 0, 0.6),
    2px 2px 4px black;

}