/*
    Name: Lithasha Thanippuli Appuhamilage 
    Student No: 100942619
    Section: 6
    File: Assignment #4 P4
    Date: July 31th, 2024
    Description: This is the assignment #4 part 4; which is the CSS file of the bouncing balls.

    NOTE: professor, I accidentitally did the part 4(sequence annimation) in the mdn web doc without knowing. And i commited it to github.
    This is part 4 according to the rubric. This is the correct part 4 one.
  */
html, body {
    margin: 0;
  }
  
  html {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    height: 100%;
  }
  
  body {
    overflow: hidden;
    height: inherit;
  }
  
  h1 {
    font-size: 2rem;
    letter-spacing: -1px;
    position: absolute;
    margin: 0;
    top: -4px;
    right: 5px;
  
    color: transparent;
    text-shadow: 0 0 4px white;
  }
  
  p {
    position: absolute;
    margin: 0;
    top: 35px;
    right: 5px;
    color: #aaa;
  }